@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @if (ViewBag.Error != null)
        {
            <p>@ViewBag.Error</p>
        }

        <label for="email">Email:</label>
        <input type="text" name="email" /><br />

        <label for="password">Password:</label>
        <input type="password" name="password" /><br />

        <input type="submit" value="Register" />
    </div>
}